Shield/Service References/WCFReference/FieldBatchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FieldBatchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/FieldBatchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/FieldBatchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/FieldBatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/K2Platform_FieldBatchService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFieldBatchService_BatchSetAllUserFieldCache_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchSetAllUserFieldCache" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_BatchSetAllUserFieldCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchSetAllUserFieldCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_UpdateAllUserPartFieldCache_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllUserPartFieldCache" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_UpdateAllUserPartFieldCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllUserPartFieldCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_CheckUserCacheExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserCacheExist" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_CheckUserCacheExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserCacheExistResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFieldBatchService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IFieldBatchService">
    <wsdl:operation name="BatchSetAllUserFieldCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldBatchService/BatchSetAllUserFieldCache" message="tns:IFieldBatchService_BatchSetAllUserFieldCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldBatchService/BatchSetAllUserFieldCacheResponse" message="tns:IFieldBatchService_BatchSetAllUserFieldCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllUserPartFieldCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldBatchService/UpdateAllUserPartFieldCache" message="tns:IFieldBatchService_UpdateAllUserPartFieldCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldBatchService/UpdateAllUserPartFieldCacheResponse" message="tns:IFieldBatchService_UpdateAllUserPartFieldCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserCacheExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldBatchService/CheckUserCacheExist" message="tns:IFieldBatchService_CheckUserCacheExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldBatchService/CheckUserCacheExistResponse" message="tns:IFieldBatchService_CheckUserCacheExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldBatchService/GetData" message="tns:IFieldBatchService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldBatchService/GetDataResponse" message="tns:IFieldBatchService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldBatchService/GetDataUsingDataContract" message="tns:IFieldBatchService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldBatchService/GetDataUsingDataContractResponse" message="tns:IFieldBatchService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFieldBatchService" type="tns:IFieldBatchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BatchSetAllUserFieldCache">
      <soap:operation soapAction="http://tempuri.org/IFieldBatchService/BatchSetAllUserFieldCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllUserPartFieldCache">
      <soap:operation soapAction="http://tempuri.org/IFieldBatchService/UpdateAllUserPartFieldCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserCacheExist">
      <soap:operation soapAction="http://tempuri.org/IFieldBatchService/CheckUserCacheExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IFieldBatchService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IFieldBatchService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FieldBatchService">
    <wsdl:port name="BasicHttpBinding_IFieldBatchService" binding="tns:BasicHttpBinding_IFieldBatchService">
      <soap:address location="http://localhost:8081/FieldBatchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>